*{
  box-sizing: border-box;
}
header{
  width:250px;
  position: fixed;
}
main{
  padding-left:250px;
}
.myacct_container{
  margin: 50px 0px 20px 30px;
}
.myacct_text{
  font-size: 25px;
  font-family: 'BebasNeueRegular';
  color: #14213D ;
}
.noacct_text{
  font-size: 18px;
  color: #14213D ;
  opacity: 80%;
  font-style: italic;

}
.add{
  font-size: 30px;
}
.open_account{
  margin: 50px 20px 20px 30px;
  color: #14213D ;
  font-family: 'BebasNeueRegular';
  border-top: 1px solid rgba(20, 33, 61, 0.171);
  border-bottom: 1px solid rgba(20, 33, 61, 0.171);
  cursor: pointer;

}
.accounts_record{
  margin: 0px 20px 20px 30px;
  color: #14213D ;
  border-collapse: collapse;
  max-width: 200px;
  cursor: not-allowed;
  /* display: none; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

form{
  border: 2px solid grey;
  width: 400px;
  padding: 22px;
  margin-left: 25px;
  display: none;
}

.input_field{
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid #8b8787;
  padding: 8px;
  text-transform: capitalize;
}
button {
  background-color: #fac311;
  width: 100%;
  border: none;
  padding: 6px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'BebasNeueRegular';
}

.firstname , .lastname{
  cursor: not-allowed;
  background: rgb(221, 221, 221);
}

@media screen and (max-width:768px){
  main{
    padding-left: 0;
  }

  .myacct_container {
    margin: 100px 0px 20px 30px;
}

.accounts_record {
  margin: 0px 20px 20px 30px;
  color: #14213D;
  border-collapse: collapse;
  width: 90%;
  /* display: none; */
}
}


@media screen and (max-width:576px){
  body{
    /* position: fixed; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  .web-header{
    position: fixed;
    top: 0;
  }
  .myacct_container{
    margin: 50px 0px 20px 0px;
  }
  .myacct_text{
    margin-top: 4em;
  }

  .table-container{
    width: 20;
  }

  form{
    max-width: 300px;
    margin: 0 ,auto;
  }
  .myacct_container {
    margin: 20px 0px 20px 10px;
}

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding:5px;
  }

  .accounts_record {
    margin-left: 10px ;
    color: #14213D;
    border-collapse: collapse;

    /* display: none; */
  }

}

