body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

header {
  position: fixed;
  background-color: #14213D;
  width: 300px;
  height: 100vh;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 4px solid #fca311;
}

.web-header__inner{
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
}

.inner-container{
  padding: 0 11px;
}
.web-logo{
  color:#fca311;
  font-size: 3em;
  text-decoration: none;
  padding-left: 14px;
}

.web-nav{
  padding: 0;
  margin-top: 44px;
  font-size: 1.1em;
  list-style-type: none;
  line-height: 2.5rem;    
}

.web-nav_item{
  width: 100%;
}

.web-nav_item a{
  display: block;
  padding: 10px 5px 10px 14px;
  text-decoration: none;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.web-nav_item :hover{
  color: #fca311;
  background-color: #101A30;
  border-left: 5px solid 
}

main {
  border-top: 4px solid #fca311 ;
  width: 100%;
}

@media screen and (max-width:768px){
  body{
      box-sizing: border-box;
      display: block;
  }
  header{
    padding: 10px;
  }
  
.web-header {
  height: 6vh;
  width: 100%;
  background-color: #14213D;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 4px solid #fca311;
  padding:0;
}
.inner-container{
  display: flex;
  margin-bottom: 50px;
}

.web-nav {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  font-size: 14px;
  list-style-type: none;
}
.web-header__inner {
  padding-top: 13px;
  font-size: 10px;
}

}

@media only screen and (min-device-width : 320px) and (max-width:576px){
  *{
    padding: 0;
    margin: 0;
  }
  body{
    /* overflow-x: hidden; */
  }
  main{
    border: none;
  }

  .line{
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
  }
  .web-header{
    position: relative;
    padding-bottom: 50px;
  }

  .hamburger_menu{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 25%;
  }
  .web-nav{
    position: fixed;
    left: 50%;
    background-color:#14213D;
    height: 100%;
    width: 100%;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    justify-content: start;
    padding-top: 50px;

  }

  .web-header__inner {
    font-size: 10px;
    padding-top: 1.2%;
  }
  /* .nav_links{
    position:fixed;
    right: 0;
    height:100vh;
    background-color: #14213d;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  } */
  .nav_active{
    transform: translateX(0%);
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);

  }
  .toggle .line2{
    opacity: 0;
    
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
    
  }
 
}