body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

header {
    background-color: #14213D;
    width: 300px;
    height: 650px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 4px solid #fca311;
}

.web-header__inner{
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
}

.inner-container{
    padding: 0 11px;
}
.web-logo{
    color:#fca311;
    font-size: 3em;
    text-decoration: none;
    padding-left: 14px;
}

.web-nav{
    padding: 0;
    margin-top: 44px;
    font-size: 1.1em;
    list-style-type: none;
    line-height: 2.5rem;    
}

.web-nav_item{
    width: 100%;
}

.web-nav_item a{
    display: block;
    padding: 10px 5px 10px 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif;
}

.web-nav_item :hover{
    color: #fca311;
    background-color: #101A30;
    border-left: 5px solid 
}

main {
    width: 100%;
}

p{
    margin: 0;
}

.user-profile {
    padding: 44px 0 22px 25px ;
    border-top: 4px solid #fca311;
    background-color: #E5E5E5;

}

#username{
    color: #14213D;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'BebasNeueRegular';
}
.user-info p{
    color: #14213D;

}

.email , .number , .role {
    color: #555;
}

.account-overview {
    padding: 44px 0 22px 25px ;
    color: #14213D;
}

.account_text{
    margin: 30px 0px 20px 25px;
    font-weight: bold;
    font-size: 20px;
    color: #14213D ;
}
.all_cards{
    list-style: none;
    padding-left: 20px;
}
.noacct_text{
    color: #14213D;
    font-style: italic;
    opacity: 70%;
    font-size: 18px;
    margin: 30px 0px 20px 20px;

}
.user_card{
    background-color:black;
    background:url(images/acct-card-bg.jpg);
    background-position: center;
    background-size: cover;
    max-width: 300px;
    height: 150px;
    color: goldenrod;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    display: none;
}
.top_card_details{
    margin-bottom: 20px;
}
.account_type{
    float: right;
}
.card_username{
    margin-bottom: 5px;

}
.bottom_card_details{
    float: right;
    margin-top: 20px;
}
.account_balance{
    font-size: 25px;
}

.view_acct_button{
    background-color:#fca311;
    width: 250px;
    padding: 15px;
    margin: 30px 0px 20px 20px;
    display: none;
}
#view_acct_link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.transactions_text{
    margin: 30px 0px 20px 25px;
    font-weight: bold;
    font-size: 20px;
    color: #14213D ;
}
.notransaction_text{
    color: #14213D;
    font-style: italic;
    font-size: 18px;
    opacity: 70%;
    margin: 30px 0px 20px 20px;

    
}

@media screen and (max-width:768px){
    body{
        box-sizing: border-box;
        display: block;
    }
    
.web-header {
    height: 6vh;
    width: 100%;
    background-color: #14213D;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 4px solid #fca311;
}
.inner-container{
    display: flex;
    margin-bottom: 50px;
}

.web-nav {
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    font-size: 14px;
    list-style-type: none;
}
.web-header__inner {
    padding-top: 13px;
    font-size: 10px;
}

.user-profile {
    padding: 44px 0 22px 25px ;
    border-top: none;
    background-color: #E5E5E5;

}




}

@media screen and (max-width:576px){
    *{
      padding: 0;
      margin: 0;
    }
    body{
      overflow-x: hidden;
    }
    .web-header__inner {
        font-size: 10px;
        padding-top: 1.2%;
      }
    main{
      border: none;
    }
  
    .line{
      width: 30px;
      height: 3px;
      margin: 5px;
      border-radius: 20px;
      background-color: white;
    }
    .web-header{
      position: relative;
    }
  
    .hamburger_menu{
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 12%;
    }
    .web-nav{
      position: fixed;
      left: 50%;
      background-color:#14213D;
      height: 100%;
      width: 100%;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
      justify-content: start;
      padding-top: 50px;
  
    }

    .nav_active{
        transform: translateX(0%);
      }
    
      .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    
      }
      .toggle .line2{
        opacity: 0;
        
      }
      .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
        
      }
  }