body{
    margin: 0;
    padding: 0;
    /* /*height: 100%;  */
    overflow: hidden; 
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

header {
    background-color: #14213D;
    width: 400px;
    height: 650px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 3px solid #fca311;
}

.web-header__inner{
    padding-top: 44px;
    display: flex;
    justify-content: space-between;
}

.inner-container{
    padding: 0 11px;
}
.web-logo{
    color:#fca311;
    font-size: 3em;
    text-decoration: none;
    padding-left: 14px;
}

.web-nav{
    padding: 0;
    margin-top: 44px;
    font-size: 1.1em;
    list-style-type: none;
    line-height: 2.5rem;    
}

.web-nav_item{
    width: 100%;
}

.web-nav_item a{
    display: block;
    padding: 10px 5px 10px 14px;
    text-decoration: none;
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.web-nav_item :hover{
    color: #fca311;
    background-color: #101A30;
    border-left: 5px solid 
}

main {
    width: 100%;
}

p{
    margin: 0;
}

.user-profile {
    padding: 44px 0 22px 25px ;
    border-top: 3px solid #fca311;
    background-color: #E5E5E5;

}

#username{
    color: #14213D;
    font-weight: bolder;
    font-size: 30px;
}

.email , .number , .role {
    color: #555;
}

.account-overview {
    padding: 44px 0 22px 25px ;
    color: #14213D;
}

.account_text{
    margin: 30px 0px 20px 25px;
    font-weight: bold;
    font-size: 20px;
    color: #14213D ;
}
.all_cards{
    list-style: none;
    padding-left: 20px;
}
.noacct_text{
    color: #14213D;
    font-style: italic;
    font-size: 18px;
    margin: 30px 0px 20px 20px;

}
.user_card{
    background-color:black;
    background:url(images/acct-card-bg.jpg);
    background-position: center;
    background-size: cover;
    max-width: 300px;
    height: 150px;
    color: goldenrod;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    display: none;
}
.top_card_details{
    margin-bottom: 20px;
}
.account_type{
    float: right;
}
.card_username{
    margin-bottom: 5px;

}
.bottom_card_details{
    float: right;
    margin-top: 20px;
}
.account_balance{
    font-size: 25px;
}

.view_acct_button{
    background-color:#fca311;
    width: 250px;
    padding: 15px;
    margin: 30px 0px 20px 20px;
    display: none;
}
#view_acct_link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.transactions_text{
    margin: 30px 0px 20px 25px;
    font-weight: bold;
    font-size: 20px;
    color: #14213D ;
}
.notransaction_text{
    color: #14213D;
    font-style: italic;
    font-size: 18px;
    margin: 30px 0px 20px 20px;

}